@use "variables" as var;
@use "mixins" as m;

#About{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    @include m.tablet{
        column-gap: 0.5%;
    }
    @include m.small-tablet{
        flex-direction: column;
        height: auto;
    }
    column-gap: 12%;
    height: 700px;
    width: 100%;
    background: rgb(247,147,36);
    background: linear-gradient(45deg, rgb(255, 0, 0) 0%, rgb(135, 0, 0) 100%);
    z-index: 2;
    div {
        @include m.tablet{
            margin-right: 15px;
            margin-left: 15px;
            p {
                font-size: 0.9rem;
            }
            h2 {
                font-size: 1.2rem;
            }
        }
        @include m.small-tablet {
            width: 85%;
            margin: 15px;
            min-height: 300px;
        }
        width: 350px;
        min-height: 500px;
        height: auto;
        background-color: var.$bg;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 300ms;
        &:hover {
            transform: scale(1.06);
            box-shadow: 0px 6px 29px 6px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 6px 29px 6px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 6px 29px 6px rgba(0,0,0,0.75);
        }

        p {
            margin-top: 10px;
            margin-bottom: 20px;
            width: 80%;
        }

        h2 {
            margin-top: 25px;
        }
    }
    #Performance {
        img {
            @include m.tablet{
                width: 110px;
            }
            width: 130px;
            margin-top: 25px;
        }
    }
    #Roleplay {
        img {
            @include m.tablet{
                width: 140px;
            }
            width: 160px;
            margin-top: 25px;
        }
    }
    #Community {
        img {
            @include m.tablet{
                width: 140px;
            }
            width: 160px;
            margin-top: 30px;
        }
    }
}